<ion-view view-title="Editar Peffil">
  <ion-content> 
    <div class="button-bar bar-light">
      <a   ng-click="myTab.tab=1" ng-class="myTab.tab==1 ? 'active' : ''" class="button">Conta</a>

      <a ng-show="perfil" ng-click="myTab.tab=2" ng-class="myTab.tab==2 ? 'active' : ''" class="button ">Perfil</a>
    </div>
    <div ng-show="myTab.tab==1" id="edit-account">
      <form name="formRegister" ng-submit="editar(user)" ng-hide="contentBg">
        <div class="profile">
          <div class="profile-photo">
            <!-- <a ng-click="choosePicture()" >
              <img src="{{user.imagem}}" alt="">
            </a>
             <span class="icon ion-ios-camera" ng-hide="user.imagem"></span>
             <span ng-model="user.id">{{user.id}}</span> -->
              <h1 class="select-picture" ng-click="choosePicture()" style="background-image:url('{{user.picture}}'); background-position:center center; background-size:cover;">
                    <span class="icon ion-ios-camera" ng-hide="user.picture"></span>

                    <a ng-click="choosePicture()" >
                      <img  ng-src="{{user.picture}}" alt="">
                    </a>

          </div>
          <span ng-model="user.id">{{user.id}}</span>
          <h5>Foto de perfil</h5>
        </div>

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span>
            <input type="text" name="nome" ng-model="user.nome"  placeholder="Nome" required>
            <small ng-show="formRegister.nome.$invalid && formRegister.nome.$touched" class="assertive">
              Campo Obrigatório
            </small>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Sobrenome</span>
            <input type="text" name="sobrenome" ng-model="user.sobrenome" placeholder="Sobrenome" required>
             <small ng-show="formRegister.sobrenome.$invalid && formRegister.sobrenome.$touched" class="assertive">
              Campo Obrigatório
            </small>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" name="email" ng-model="user.email" placeholder="Email" required>
            <small ng-show="formRegister.email.$invalid && formRegister.email.$touched" class="assertive">
              Campo Obrigatório
            </small>
          </label>
          
          <!-- <label class="item item-input item-stacked-label">
            <span class="input-label">Senha</span>
            <input ng-model="user.password" name="password" type="password" placeholder="Senha" required>
            <small ng-show="formRegister.password.$invalid && formRegister.password.$touched" class="assertive">
              Campo Obrigatório
            </small>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Repetir Senha</span>
            <input type="password" name="password2" placeholder="Repetir Senha" ng-model="user.password2" data-password-verify="formRegister.password" required>
            <small ng-show="(formRegister.password2.$invalid || formRegister.password2.$error.passwordVerify) && formRegister.password2.$touched" class="assertive">
              As senhas não são iguais!
            </small>
          </label> -->
          <label class="item item-input item-select">
            <div class="input-label">
              Sexo
            </div>
            <select ng-model="user.sexo" ng-options="sexo.name as sexo.name for sexo in Optionsexo">
            </select>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Data Nascimento</span>
            <input ng-model="user.nascimento" name="nascimento" type="date" format="dd/MM/yyyy" placeholder="Data Nasciemnto" required>
            <small ng-show="formRegister.nascimento.$invalid && formRegister.nascimento.$touched" class="assertive">
              Campo Obrigatório
            </small>
          </label>
           <label class="item item-input">
              <i class="icon ion-ios-location-outline placeholder-icon"></i>
              <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="user.estado" item-view-value-key="formatted_address" items-method="getAddressSuggestions(query)" placeholder="Bairro, Cidade" max-selected-items="1" cancel-label="Cancelar" select-items-label="Selecione uma cidade" />
            </label>

          <button ng-disabled="formRegister.$invalid" class="button button-block button-positive register-btn">Editar</button>

        </div>
      </form>
    </div>
    <div ng-show="myTab.tab==2" id="profile">
      <div class="row">
        <div class="col-80 col-offset-10 filtros">
          <div class="check-content">
            <h5>Especialidades</h5>
            <ion-list>
              <ion-checkbox  ng-repeat="especialidade in especialidades" ng-model="profile.treino">{{especialidade.modalidade}}</ion-checkbox>
            </ion-list>
          </div>
          <h5>Preco Medio por Treino</h5>
            <div class="row">
              <div class="col-10">R$</div>
              <div class="col-35">
                <h-number value="formData.num_start" min="0" max="1000" step="1" change="onChanged()">
                  <input type="text" ng-model="formData.num_start">
                 </h-number>
              </div>
              <div class="col-15"> - </div>
              <div class="col-35">
                <h-number value="formData.num_end" min="0" max="1000" step="1" change="onChanged()">
                  <input type="text"   ng-model="formData.num_end">
                 </h-number>
              </div>
            </div>
            <h5>Idade</h5>
            <div class="row">
              <div class="col-15">DE</div>
              <div class="col-35">
                <h-number value="formData.age_start" min="0" max="1000" step="1" change="onChanged()">
                  <input type="text" ng-model="formData.age_start">
                 </h-number>
              </div>
              <div class="col-15"> a </div>
              <div class="col-35">
                <h-number value="formData.age_end" min="0" max="1000" step="1" change="onChanged()">
                  <input type="text"   ng-model="formData.age_end">
                 </h-number>
              </div>
            </div>
          <div class="save-content">
             <a href="#" class="button button-block button-positive save-btn">Buscar</a>
           </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


