<ion-view view-title="{{chat.nome}}">
  <ion-content>
  
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap">
        <img ng-src="{{chat.photoURL}}">
        <h2>{{chat.id}}</h2>
        <p>{{chat.texto}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-light item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" name="chat_id"  value="{{chat.id}}" ng-model="data.chat">
      <input type="text" placeholder="Digite uma mensagem" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-small button-clear" ng-click="sendMessage()">
      Enviar
    </button>
  </ion-footer-bar>
</ion-view>
