<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{profiles[0].nome}}">
  <ion-content  ng-repeat="profile in profiles">
  <div class="hero has-mask ">
    <div class="content">
        <div class="avatar" style="background-image: url('{{profile.photoURL}}');"></div>
        <a href="#/tab/chats/{{profiles[0].id}}"><span  class="d4ficon-3 pic-perfil pic-perfil-detail"><i class="ion-ios-chatboxes"></i></span></a>
        <h3>{{profile.nome}} {{profile.sobrenome}}</h3>
    </div>
  </div>
  <div class="list profissional-profile">
    <div class="item item-divider">
      Especialidades
    </div>
    <p class="item" ng-repeat="treino in profiles[0].treinos">
      {{treino.name}}
    </p>
  </div>
  <div class="list profissional-profile">
    <div class="item item-divider">
      Formação
    </div>
    <p class="item">{{profile.formacao}}</p>
  </div>
  <div class="list profissional-profile">
    <div class="item item-divider">
      Sobre Mim
    </div>
    <p class="item">{{profile.sobre}}</p>
  </div>
  <div class="list profissional-profile">
    <div class="item item-divider">
      Locais de Atendimento
    </div>
    <p class="item" ng-repeat="locais in profiles[0].locais">
      {{locais.endereco}}
    </p>
  </div>
  </ion-content>
</ion-view>
