<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{profiles[0].nome}}">
  <ion-content  ng-repeat="profile in profiles">
  <div class="hero has-mask " style="background-image: url('../img/cover-image.jpg');">
    <div class="content">
        <div class="avatar" style="background-image: url('{{profile.photoURL}}');"></div>
        <h3>{{profile.nome}} {{profile.sobrenome}}</h3>
    </div>
  </div>
  <div class="list">
    <div class="item item-divider">
      Especialidades
    </div>
    <p class="item" ng-repeat="treino in profiles[0].treinos">
      {{treino.name}}
    </p>
  </div>
  </ion-content>
</ion-view>
