<ion-view>
  <ion-content>
    <div class="hero has-mask ">
      <div class="content">
        <a href="#/configuration" class="button pic-perfil pic-perfil-configuration icon ion-gear-a"></a>
        <div class="avatar" style="background-color: #11c1f3;"></div>
        <a href="#/tab/account/edit">
          <span class="d4ficon-3 pic-perfil pic-perfil-detail">
            <i class="ion-android-create"></i>
          </span>
        </a>
        <h3>Nome Teste</h3>
        <h5 style="color: #ffffff;">São Paulo, SP</h5>
      </div>
    </div>

    <div ng-show="profileType==1" id="type-account_user">
      <ion-item>
        <div class="item-avatar">
        <ion-toggle ngModel="data.notify" style="position: absolute; left: 0; top: 20%;"></ion-toggle>
        <ion-label>Exibir notificações</ion-label>
      </div>
      </ion-item>
    </div>
    <div ng-show="profileType==2" id="type-account_pro">
      <div class="list profissional-profile">
        <button style="position: absolute; left: 5px; top: 20%;" class="button profile-icon icon ion-eye"></button>
        <div class="item-avatar">
          <p>
            <h5 style="opacity: 0.4;">VISUALIZAÇÕES NO PERFIL</h5>
            <h3 style="margin-top: 0">600m</h3>
          </p>
        </div>
      </div>
      <div class="list profissional-profile">
        <button style="position: absolute; left: 5px; top: 20%;" class="button profile-icon icon ion-social-usd"></button>
        <div class="item-avatar">
          <p>
            <h5 style="opacity: 0.4;">PREÇO MÉDIO POR TREINO (R$)</h5>
            <h3 style="margin-top: 0">40 - 90</h3>
          </p>
        </div>
      </div>
      <div class="list profissional-profile">
        <div class="item item-divider">
          Especialidades
        </div>
        <div class="item-avatar">
          <p>
            <i style="position: absolute; left: 32px;" class="profile-icon icon ion-ios-circle-filled"></i>
            <h5>Alongamento</h5>
          </p>
          <p>
            <i style="position: absolute; left: 32px;" class="profile-icon icon ion-ios-circle-filled"></i>
            <h5>Hipertrofia</h5>
          </p>
        </div>
      </div>
      <div class="list profissional-profile">
        <div class="item item-divider">
          Formação
        </div>
        <div class="item-avatar">
          <p>
            <i style="position: absolute; left: 32px;" class="profile-icon icon ion-clipboard"></i>
            <h5>Superior Completo</h5>
          </p>
        </div>
      </div>
      <div class="list profissional-profile">
        <div class="item item-divider">
          Sobre Mim
        </div>
        <div class="item-avatar"></div>
        <ion-view style="width: 74%; height: 100%; min-height: 0; top: 25%; left: 25px; bottom: 10px;">
          <ion-content class="padding">
            <p style="color: #000">
              O Olimpo não é fornecedor de quaisquer bens, bem como não presta qualquer tipo de serviço de atividade ou condicionamento
              físico, aluguel de espaços particulares, serviços de cunho nutricional ou terapêutico. O Olimpo atua meramente
              ofertando uma plataforma digital que, através do seu aplicativo, fornece condições para que seus Usuários busquem
              profissionais de diversas áreas de atividade físicas para fins aleatórios, atuando, assim, como uma intermediadora
              entre os Profissionais cadastrados em sua plataforma digital, e os Usuários que buscam os serviços prestados
              por esses profissionais. Assim, eventuais Usuários interessados nos serviços ofertados por determinados profissionais
              poderão entrar em contato com o profissional de sua escolha para a contratação de seus serviços prestados através
              do app.</p>
          </ion-content>
        </ion-view>
      </div>

      <div class="list profissional-profile">
        <div class="item item-divider">
          Locais de Atendimento
        </div>
        <div class="item-avatar">
          <p>
            <i style="position: absolute; left: 32px;" class="profile-icon icon ion-ios-location-outline"></i>
            <h5>Endereço rua tal</h5>
          </p>
          <p>
            <i style="position: absolute; left: 32px;" class="profile-icon icon ion-ios-location-outline"></i>
            <h5>endereço rua show</h5>
          </p>
        </div>
      </div>
      <div class="item-avatar">
        <p>
          <i style="position: absolute; left: 32px;" class="profile-icon icon ion-ios-checkmark"></i>
          <h5>Disponibilidade para atender em outros locais</h5>
        </p>
      </div>
    </div>
    </div>
    <!-- <ion-view view-title="{{profiles[0].nome}}">
  <ion-content class="has-header" ng-repeat="profile in profiles">
    <div class="hero has-mask " style="background-color: #11c1f3;">
      <div class="content">
        <div class="avatar" style="background-image: url('{{profile.imagem}}');"></div>
        <a href="#/tab/account/{{profiles[0].id}}">
          <span class="d4ficon-3 pic-perfil">
            <i class="icon ion-edit"></i>
          </span>
        </a>
        <h3>{{profile.nome}} {{profile.sobrenome}}</h3>
        <h4>{{profile.cidade}} {{profile.estado}}</h4>
      </div>
    </div>

  </ion-content>
</ion-view> -->

  </ion-content>
</ion-view>