<ion-view>
  <ion-content>
    <div class="hero has-mask" style="background-image:url('{{user.picture}}');">
      <div class="content">
        <a href="#/configuration" class="button pic-perfil-configuration">
          <i class="ion-gear-a"></i>
        </a>
        <div class="avatar" style="background-image:url('{{user.picture}}');"></div>
        <a href="#/tab/account/edit">
          <span class="d4ficon-3 pic-perfil pic-perfil-detail">
            <i class="ion-android-create"></i>
          </span>
        </a>
        <h3>{{user.nome}} {{user.sobrenome}}</h3>
        <h5 style="color: #ffffff;">{{user.cidade}}, {{user.estado}}</h5>
      </div>
    </div>

    <div ng-show="profileType==1" id="type-account_user">
      <div class="item-avatar">
        <label class="toggle toggle-calm" style="position: absolute; left: 15px;">
          <input type="checkbox" />
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <p style="font-size: 18px; color: #000; text-transform: none; padding-top: 5px;">Exibir notificações</p>
      </div>
    </div>
    <div ng-show="profileType==2" id="type-account_pro">
      <div class="list profissional-profile">
        <a style="position: absolute; left: 5px; top: 20%;" class="button profile-icon">
          <i class="ion-eye"></i>
        </a>
        <div class="item-avatar">
          <p>
            <p style="margin-top: 0; font-size: 14px; color: #000; opacity: 0.4;">VISUALIZAÇÕES NO PERFIL</p>
            <p style="margin-top: 0; font-size: 24px; color: #000;">
              <b>{{user.perfil_views}}</b>
            </p>
          </p>
        </div>
      </div>
      <div class="list profissional-profile">
        <a style="position: absolute; left: 5px; top: 20%;" class="button profile-icon">
          <i class="ion-social-usd"></i>
        </a>
        <div class="item-avatar">
          <p>
            <p style="margin-top: 0; font-size: 14px; color: #000; opacity: 0.4;">PREÇO MÉDIO POR TREINO (R$)</p>
            <p style="margin-top: 0; font-size: 24px; color: #000;">
              <b>{{price.valor_min}} - {{price.valor_max}}</b>
            </p>
          </p>
        </div>
      </div>
      <div class="list profissional-profile">
        <div class="item item-divider">
          Especialidades
        </div>
        <div>
          <ion-list style="margin-left: 32px;">
            <p ng-repeat="treino in acts.treinos" style="font-size: 14px; color: #000; text-transform: none;" ng-model="acts.treinos">
              <i style="margin-left: 32px; font-size: 1.3em;" class="profile-icon icon ion-ios-circle-filled"></i>
              <label style="margin-left: 20px;">{{treino}}</label>
            </p>
          </ion-list>
        </div>
      </div>
      <div class="list profissional-profile">
        <div class="item item-divider">
          Formação
        </div>
        <div class="item-avatar">
          <p>
            <i style="position: absolute; left: 32px; font-size: 1.3em; padding-top: 10px;" class="profile-icon icon ion-clipboard"></i>
            <p style="font-size: 14px; color: #000; text-transform: none; padding-top: 10px;">{{user.formacao}}</p>
          </p>
        </div>
      </div>
      <div class="list profissional-profile">
        <div class="item item-divider">
          Sobre Mim
        </div>
        <div style="height: 200px;">
          <ion-view style="width: 80%; height: 100%; min-height: 0; top: 15%; left: 25px; bottom: 10px;">
            <ion-content class="padding">
              <p style="color: #000; text-transform: none;">
                {{user.descricao}}
              </p>
            </ion-content>
          </ion-view>
        </div>
      </div>

      <div class="list profissional-profile">
        <div class="item item-divider">
          Locais de Atendimento
        </div>
        <div>
          <ion-list style="margin-left: 32px;">
            <p ng-repeat="endereco in address" style="font-size: 14px; color: #000; text-transform: none; padding-left: 24px; padding-right: 16px;" ng-model="address">
              <i style="top: 40%; font-size: 2.0em; padding-top: 10px;" class="profile-icon icon ion-ios-location-outline"></i>
              <label style="margin-left: 20px;" style="font-size: 18px; color: #000; text-transform: none; padding-top: 10px;">{{endereco.name}}</label>
              <br>
              <label style="font-size: 12px; color: rgba(0, 0, 0, 0.400); text-transform: none;">{{endereco.location}}</label>
            </p>
          </ion-list>
        </div>
      </div>
      <div class="item-avatar">
        <p ng-if="user.disponibilidade">
          <i style="position: absolute; left: 32px; font-size: 1.3em;" class="profile-icon icon ion-ios-checkmark"></i>
          <p ng-if="user.disponibilidade" style="font-size: 12px; color: #000; text-transform: none;">Disponibilidade para atender em outros locais</p>
        </p>
      </div>
    </div>
    </div>
    <!-- <ion-view view-title="{{profiles[0].nome}}">
  <ion-content class="has-header" ng-repeat="profile in profiles">
    <div class="hero has-mask " style="background-color: #11c1f3;">
      <div class="content">
        <div class="avatar" style="background-image: url('{{profile.imagem}}');"></div>
        <a href="#/tab/account/{{profiles[0].id}}">
          <span class="d4ficon-3 pic-perfil">
            <i class="icon ion-edit"></i>
          </span>
        </a>
        <h3>{{profile.nome}} {{profile.sobrenome}}</h3>
        <h4>{{profile.cidade}} {{profile.estado}}</h4>
      </div>
    </div>

  </ion-content>
</ion-view> -->

  </ion-content>
</ion-view>