<ion-view view-title="Chats">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Buscar">
         <i class="icon ion-search placeholder-icon"></i>
      </label>
    </div>
    <ion-list class="list list-inset">
      <ion-item class="item item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.profissional}}">
        <img ng-src="{{chat.photoURLProfissional}}">
        <h2>{{chat.nome}}</h2>
        <p>{{chat.last_msg}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-positive" ng-click="remove(chat)">
           <i class="icon ion-trash-a placeholder-icon"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
