<div class="bar bar-subheader bar-calm">
  <h1 class="title">Meu Perfil</h1>
  <a href="#/tab/account/{{profiles[0].id}}" class="button button-icon icon ion-gear-a"></a>
</div>
<ion-view view-title="{{profiles[0].nome}}">
  <ion-content  class="has-header" ng-repeat="profile in profiles">
  <div class="hero has-mask " style="background-color: #11c1f3;">

    <div class="content">
        <div class="avatar" style="background-image: url('{{profile.imagem}}');"></div>
          <a href="#/tab/account/{{profiles[0].id}}"><span  class="d4ficon-3 pic-perfil"><i class="icon ion-edit"></i></span></a>
        <h3>{{profile.nome}} {{profile.sobrenome}}</h3>
        <h4>{{profile.cidade}} {{profile.estado}}</h4>
    </div>
  </div>
  </ion-content>
</ion-view>
