<ion-modal-view>
  <ion-content>
  <div class="im-wrapper">
  <p>
    O Olimpo não é fornecedor de quaisquer bens, bem como não presta qualquer tipo de serviço de atividade ou condicionamento físico, aluguel de espaços particulares, serviços de cunho nutricional ou terapêutico. O Olimpo atua meramente ofertando uma plataforma digital que, através do seu aplicativo, fornece condições para que seus Usuários busquem profissionais de diversas áreas de atividade físicas para fins aleatórios, atuando, assim, como uma intermediadora entre os Profissionais cadastrados em sua plataforma digital, e os Usuários que buscam os serviços prestados por esses profissionais. Assim, eventuais Usuários interessados nos serviços ofertados por determinados profissionais poderão entrar em contato com o profissional de sua escolha para a contratação de seus serviços prestados através do app.</p>
    <p>
Ao cadastrar-se na Plataforma Olimpo e utilizar as funções oferecidas no app, você: (i) concorda com os "Termos e Condições Gerais de Uso” da nossa plataforma bem como com a “Política de Privacidade", que contém informações claras e completas sobre coleta, uso, armazenamento, tratamento e proteção de dados pessoais dos Usuários e Profissionais da Plataforma Olimpo; (ii) declara o “de acordo” com todos os seus termos e condições; e, (ii) não facilitará tampouco incentivará a sua violação.
Política de privacidade</p>
<p>
Esta Política de Privacidade diz respeito aos dados que o Olimpo pode obter quando você usa nossa Plataforma. Deste modo, descrevemos como coletamos dados a seu respeito através da Plataforma Olimpo, além da forma pela qual podemos utilizá-los e compartilhá-los nos termos da Lei 12.965/2014 (“Marco Civil da Internet”) e do Decreto 8.771/2016.</p>
<p> 
Ao clicar no botão “Eu li e aceito a Política de Privacidade” você está aceitando esses termos.</p>
<p>
Salientamos que podemos alterar a Política de Privacidade a qualquer tempo, mas você sempre será avisado antes de fazer login e um novo consentimento será solicitado para que você continue tendo acesso ao Olimpo e aos serviços oferecidos. Note que sempre informamos, no início desta Política, a data da última atualização.</p>
<p>
Para facilitar, preparamos um resumo dos principais pontos da Política de Privacidade:
</p>
<ul>

<li>1.     O Olimpo pode coletar as informações que você fornecer no cadastro e ao longo do uso dos nossos serviços, mas também através de cookies e web beacons.</ul>
<li>2.     Com a coleta queremos possibilitar seu acesso, saber como entrar em contato com você e melhorar os serviços que prestamos.</li>
<li>3.     Não compartilharemos seus dados pessoais com ninguém sem a sua autorização, mas, caso você seja um Aluno, podemos compartilhar seu nome com os Profissionais responsáveis pelas aulas que você agendar, e caso você seja um Profissional, podemos compartilhar seu nome com os alunos que agendarem quaisquer aulas oferecidas por você, sendo o referido procedimento da própria natureza e conceito do Olimpo.</li>
<li>4.     Podemos usar dados anonimizados para fins estatísticos e de controle dos nossos serviços.</li>
<li>5.Tomamos medidas de segurança razoáveis para proteger seus dados.</li>
<li>6.Apagaremos as suas contas e excluiremos seus dados de nosso sistema quando você quiser, mas somos obrigados legalmente a manter registros de conexão por seis meses, nos termos do artigo 15 da Lei nº 12.965/14.
Leia atentamente este documento completo antes de se cadastrar na Plataforma Olimpo e usufruir dos serviços prestados por meio dele. O resumo só existe para indicar os pontos principais da nossa Política, mas não dispensa a leitura do documento abaixo:
Informações Coletadas
Dados fornecidos. O Olimpo pode coletar informações enviadas voluntariamente pelos seus Usuários, incluindo (mas não se limitando a) nomes, números de CPF, email, telefones, endereços, dentre outros. Este tipo de informação você fornece ao criar seu perfil na Plataforma Olimpo. Além disso, podemos coletar informações decorrentes do seu uso normal da Plataforma Olimpo.
Informações confidenciais. Reconhecemos a natureza sensível e confidencial de certas informações obtidas com o uso da Plataforma Olimpo. Nos comprometemos a manter estas informações de natureza confidencial em sigilo, sem utilizá-las ou divulgá-las sem sua autorização, exceto no limite necessário para a execução de nossas obrigações contratuais e para a defesa de seus e nossos interesses.
Cookies e Web Beacons. Podemos usar ferramentas autônomas como cookies e web beacons para coletar informações como seu endereço de IP, características do seu navegador, detalhes do seu sistema operacional, preferências de linguagem, sites acessados e duração dos acessos. Temos o direito de combinar estas informações com aquelas que você fornecer voluntariamente, mas não compartilharemos isso com terceiros. Alguns navegadores possibilitam o bloqueio de cookies e web beacons, você pode cancelá-los, mas saiba que isso pode prejudicar o bom funcionamento do aplicativo.</li>
</ul>
<p>Nosso uso</p>
<p>Nós temos três objetivos ao coletar este tipo de dado:</p>
<ul>
<li>1.  Conceder acesso aos nossos serviços a partir do email e senha cadastrados.</li>
<li>2.Possibilitar que entremos em contato com você para dar suporte operacional.</li>
<li>3.Melhorar nossos serviços.</li>
<p>Os dados registrados no Olimpo serão usados e tratados única e exclusivamente para proporcionar uma melhor experiência de uso.
Estes dados serão armazenados em ambiente seguro e de acesso restrito a você usuário e àqueles com quem desejar compartilhá-los, sempre atendendo a preservação da intimidade, da vida privada, da honra e da imagem das partes direta ou indiretamente envolvidas.</p>

<p>Outras Informações Importantes</p>
<p>Transferência Internacional de Dados. Os seus dados podem ser armazenados fora do Brasil, nos termos da legislação nacional, isso constitui “Transferência Internacional de Dados”, então ao concordar com esta Política de Privacidade, você também consente com este envio.</p>
<p>Dados anonimizados. Os dados de todos os usuários juntos, desvinculados das informações pessoais (que possibilitam a identificação do titular) são chamados de “dados anônimos”. Se/quando utilizarmos o processo de anonimização poderemos analisar dados para fins estatísticos e comerciais.</p>
<p>Segurança. Nós temos ferramentas para proteger seus dados pessoais de terceiros mal-intencionados ou sem autorização. Apesar de tomarmos medidas razoáveis para protegê-los, a Internet é um ambiente inseguro, então não podemos garantir segurança absoluta e inviolável para os dados coletados. </p>
<p>Compartilhamento de seus dados com terceiros. Suas informações pessoais nunca serão fornecidas a nenhuma outra empresa que não o Olimpo sem a sua autorização prévia. Não nos responsabilizamos pela guarda de dados pessoais quando estes cedidos pelo próprio interessado à terceiros, seja pela informação de login e senha ou qualquer outro meio. O Login e Senha são ferramentas de uso personalíssimos do usuário, não podendo, em hipótese alguma, ser transferido à terceiros. </p>
<p>
Edições dos dados. Você pode a qualquer tempo rever, editar ou deletar as informações do seu cadastro através do aplicativo. Contamos com você para manter seus dados atualizados. Se você não conseguir realizar alguma alteração, envie um email para atendimento@olimpoapp.com.br solicitando a mudança e trabalharemos nisso.</p>
<p>Retenção de dados. Nos comprometemos a excluir seu cadastro depois que você decidir se desvincular em definitivo da nossa plataforma. Se antes disso você quiser remover a sua conta, envie um email para atendimento@olimpoapp.com.br com o assunto "Excluir minha conta". Aviso: temos a obrigação legal de manter seus registros de conexão (IP e horários de acesso, basicamente) por seis meses antes de excluí-los.</p>
<p>Contato. Se você tiver alguma dúvida a respeito da Política de Privacidade, por favor, entre em contato conosco pelo email atendimento@olimpoapp.com.br</p>
  </div>
  </ion-content>
</ion-modal-view>
    <div class="bar bar-footer">
      <div class="button-bar">
        <button class="button button-assertive" ng-click="fechaModal()">
          <i class="ion ion-ios-undo-outline"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
